<div class="inner-body">
	<h1 class="center">Database</h1>

	<div class="container lead center">
		<p>
			Click on your table or create a new one. After selecting a table you can edit the rows and columns.
		</p>
	</div>

	<div class="my-container dir-bar">
		<div class="container-fluid" id="dbcontent">

			
		</div>
	</div>

</div>


<script>
	/*
    function tableShow(id_value) {

        document.getElementById("table-list").style.display = "none";
        document.getElementById("current-table" + id_value).style.display = "block";
    }

    function tableUnshow(id_value) {

        document.getElementById("table-list").style.display = "block";
        document.getElementById("current-table" + id_value).style.display = "none";
    }*/


    var currentDbData;
	
	function refreshDbData() {
		generateTables();
	}

	function refreshTableHtml() {
        $('#dbcontent').empty();
		$('#dbcontent').html(data);
	}

    function requestTableHtml(tablename) {	
		alert("send request");
        $.post("{% url 'dbdata' %}",
	    {'projname': "{{page.name}}", 'tablename': tablename},
            function (data) {
				alert(data.html);
				$('#dbcontent').empty();
				$('#dbcontent').text(data.html);
            }
		);
	}
	
	function requestTableNames() {
		$.post("{% url 'tablenames' %}",
			{'projname': "{{page.name}}"},
			function (data) {
				currentDbData = data;
				refreshDbData();
			}
		);
	}

    function generateTables() {
        $('#dbcontent').empty();
        var t = $('<div>').addClass("row dir-bar my-border-users no-margin")
			.append($("<div>").attr({"id": "1"}).addClass("row dir-bar top no-margin")
				.append($("<span>").addClass("enum-top").text("#"))
				.append($("<span>").addClass("name-top").text("Name"))
				.append($("<span>").addClass("columns-top").text("Columns"))
				.append($("<span>").addClass("enum-top").text("Rows"))
			)
			.append($("<div>").addClass("col-lg-4"))
		;
        $.each(currentDbData, function (index, tab) {
			t.append($("<div>").addClass("row dir-bar my-border-users no-margin")
				.append($("<div>").addClass("row dir-bar no-margin")
					.append($("<span>").addClass("enum").text("#"+index))
					.append($("<span>").addClass("name").text(tab.name))
					.append($("<span>").addClass("columns").text(tab.columncount))
					.append($("<span>").addClass("rows").text(tab.rowcount))
					.append($("<button>").addClass("btn btn-align rename-align btn-secondary btn-text btn-table-edit-main")
						.append($("<i>").addClass("fas fa-edit"))
					)
					.append($("<button>").addClass("btn btn-align btn-warning btn-text btn-table btn-table-del-main")
						.append($("<i>").addClass("fas fa-minus-circle"))
					)
					.click({name: tab.name}, function(e){
						e.stopPropagation()
						requestTableHtml(e.data.name)
					})
				)
				.append($("<div>").addClass("col-lg-4"))
			);
        });
        $('#dbcontent').append(t)
	}

    function generateTableContent(tablename) {
        $('#dbcontent').empty();
        var t = $('table');
        var h = t.append($('<tr>'));
        console.debug(currentData);
        console.debug(tablename);
        console.debug(currentData.tables[tablename]);
        $.each(currentData.tables[tablename].columns, function (colname, col_dtype) {
            h.append($('<td>').text(colname));
            // use col_dtype
        });
        $.each(currentData.tables[tablename].data, function (col, val) {
            var dr = $('<tr>');
            $.each(currentData.tables[tablename].columns, function (colname, col_dtype) {
                dr.append($('td').text(val[colname]));
            });
            t.append(dr);
        });

    }


    $(document).ready(function () {
        requestTableNames();
	});
	
</script>

<!--
<div class="container-fluid" style="margin: 50px">
	<div id="orientationbar" class="row" style="margin-bottom: 30px"></div>
	<div class="container-fluid" id="dbcontent"></div>
</div>-->

<!--

	TADY JE 1. ŘÁDEK TABULKY

	<div class="row dir-bar my-border-users no-margin">
			<div id="1" class="row dir-bar top no-margin">
				<span class="enum-top">#</span>
				<span class="name-top">Name</span>
				<span class="columns-top">Columns</span>
				<span class="rows-top">Rows</span>
			</div>
			<div class="col-lg-4"></div>
		</div>


		TADY ZAČÍNÁ SEZNAM TABULEK


		TABULKA 1
		<div class="row dir-bar my-border-users no-margin" onclick="tableShow(1)">
			<div class="row dir-bar no-margin">
				<span class="enum">#1</span>
				<span class="name">products</span>
				<span class="columns">6</span>
				<span class="rows">3</span>
				<button class="btn btn-align rename-align btn-secondary btn-text btn-table-edit-main"><i class="fas fa-edit"></i>
				</button>
				<button class="btn btn-align btn-warning btn-text btn-table-del-main"><i class="fas fa-minus-circle"></i></button>
			</div>
			<div class="col-lg-4"></div>
		</div>


		TABULKA 2
		<div class="row dir-bar my-border-users no-margin" onclick="tableShow(2)">
			<div class="row dir-bar no-margin">
				<span class="enum">#2</span>
				<span class="name">employees</span>
				<span class="columns">3</span>
				<span class="rows">2</span>
				<button class="btn btn-align rename-align btn-secondary btn-text btn-table-edit-main"><i class="fas fa-edit"></i>
				</button>
				<button class="btn btn-align btn-warning btn-text btn-table-del-main"><i class="fas fa-minus-circle"></i></button>
			</div>
			<div class="col-lg-4"></div>
		</div>

		<div class="create">
			<button class="btn btn-primary btn-align btn-text"><i class="fas fa-plus-circle"></i>&nbsp;add</button>
		</div>
	</div>
</div>


DETAILY TABULKY 1
<div class="my-container-email dir-bar" id="current-table1">
	<div class="container-fluid table-cell" id="table">


		<div class="row dir-bar my-border-users no-margin">
			<div id="1" class="row dir-bar top no-margin center">
				<span class="enum-top-db">#</span>
				<span class="column-top" style="width: 13.29%">Name</span>
				<span class="column-top" style="width: 13.29%">Description</span>
				<span class="column-top" style="width: 13.29%">Text</span>
				<span class="column-top" style="width: 13.29%">Review</span>
				<span class="column-top" style="width: 13.29%">Price</span>
				<span class="column-top" style="width: 13.29%">Usage</span>
			</div>
			<div class="col-lg-4"></div>
		</div>


		1. ZÁZNAM
		<div class="row dir-bar my-border-db no-margin">
			<div class="row dir-bar no-margin center">
				<span class="enum-db">#1</span>
				<span class="column" style="width: 13.29%">Hrnec</span>
				<span class="column" style="width: 13.29%">Pěkný</span>
				<span class="column" style="width: 13.29%">Na vaření</span>
				<span class="column" style="width: 13.29%">4.3</span>
				<span class="column" style="width: 13.29%">512,-</span>
				<span class="column" style="width: 13.29%">NULL</span>
				<button class="btn btn-align rename-align btn-secondary btn-text btn-table-edit"><i class="fas fa-edit"></i>
				</button>
				<button class="btn btn-align btn-warning btn-text btn-table-del"><i class="fas fa-minus-circle"></i></button>
			</div>
			<div class="col-lg-4"></div>
		</div>

		2. ZÁZNAM
		<div class="row dir-bar my-border-db no-margin">
			<div class="row dir-bar no-margin center">
				<span class="enum-db">#2</span>
				<span class="column" style="width: 13.29%">Kastról</span>
				<span class="column" style="width: 13.29%">Starý šmejd</span>
				<span class="column" style="width: 13.29%">Tak toto je teda nějaký delší popis, který přesahuje všechny myslitelné rozměry a kazí tak kompozici tabulky.</span>
				<!-- 93/(column count + 1)
				<span class="column" style="width: 13.29%">1.5</span>
				<span class="column" style="width: 13.29%">125,-</span>
				<span class="column" style="width: 13.29%">Vaření</span>
				<button class="btn btn-align rename-align btn-secondary btn-text btn-table-edit"><i class="fas fa-edit"></i>
				</button>
				<button class="btn btn-align btn-warning btn-text btn-table-del"><i class="fas fa-minus-circle"></i></button>
			</div>
			<div class="col-lg-4"></div>
		</div>

		3. ZÁZNAM
		<div class="row dir-bar my-border-db no-margin">
			<div class="row dir-bar no-margin center">
				<span class="enum-db">#3</span>
				<span class="column" style="width: 13.29%">Pánev</span>
				<span class="column" style="width: 13.29%">Kulatá</span>
				<span class="column" style="width: 13.29%">Velká</span>
				<span class="column" style="width: 13.29%">4.8</span>
				<span class="column" style="width: 13.29%">846,-</span>
				<span class="column" style="width: 13.29%">Smažení</span>
				<button class="btn btn-align rename-align btn-secondary btn-text btn-table-edit"><i class="fas fa-edit"></i>
				</button>
				<button class="btn btn-align btn-warning btn-text btn-table-del"><i class="fas fa-minus-circle"></i></button>
			</div>
			<div class="col-lg-4"></div>
		</div>

		<div class="create">
			<button class="btn btn-primary btn-align btn-text"><i class="fas fa-plus-circle"></i>&nbsp;Add</button>
			<button class="btn btn-primary btn-align btn-text" onclick="tableUnshow(1)"><i class="fas fa-arrow-left"></i>&nbsp;Back
			</button>
		</div>
	</div>
</div>


DETAILY TABULKY 2
<div class="my-container-email dir-bar" id="current-table2">
	<div class="container-fluid table-cell" id="table">


		<div class="row dir-bar my-border-users no-margin">
			<div id="1" class="row dir-bar top no-margin center">
				<span class="enum-top-db">#</span>
				<span class="column-top" style="width: 23.25%">Name</span>
				<span class="column-top" style="width: 23.25%">E-mail</span>
				<span class="column-top" style="width: 23.25%">Salary</span>
			</div>
			<div class="col-lg-4"></div>
		</div>


		1. ZÁZNAM
		<div class="row dir-bar my-border-db no-margin">
			<div class="row dir-bar no-margin center">
				<span class="enum-db">#1</span>
				<span class="column" style="width: 23.25%">Martin Beneš</span>
				<span class="column" style="width: 23.25%">xbenesXX@fit.vutbr.cz</span>
				<span class="column" style="width: 23.25%">$12.351.560.151</span>
				<button class="btn btn-align rename-align btn-secondary btn-text btn-table-edit"><i class="fas fa-edit"></i>
				</button>
				<button class="btn btn-align btn-warning btn-text btn-table-del"><i class="fas fa-minus-circle"></i></button>
			</div>
			<div class="col-lg-4"></div>
		</div>

		2. ZÁZNAM
		<div class="row dir-bar my-border-db no-margin">
			<div class="row dir-bar no-margin center">
				<span class="enum-db">#2</span>
				<span class="column" style="width: 23.25%">Ondřej Polanský</span>
				<span class="column" style="width: 23.25%">xpolanXX@fit.vutbr.cz</span>
				<span class="column" style="width: 23.25%">$12.351.560.151</span>
				<button class="btn btn-align rename-align btn-secondary btn-text btn-table-edit"><i class="fas fa-edit"></i>
				</button>
				<button class="btn btn-align btn-warning btn-text btn-table-del"><i class="fas fa-minus-circle"></i></button>
			</div>
			<div class="col-lg-4"></div>
		</div>

		<div class="create">
			<button class="btn btn-primary btn-align btn-text"><i class="fas fa-plus-circle"></i>&nbsp;Add</button>
			<button class="btn btn-primary btn-align btn-text" onclick="tableUnshow(2)"><i class="fas fa-arrow-left"></i>&nbsp;Back
			</button>
		</div>
-->
