<div class="inner-body">
	<h1 class="center">Database</h1>

	<div class="container lead center">
		<p>
			Click on your table or create a new one. After selecting a table you can edit the rows and columns.
		</p>
	</div>

	<div class="my-container dir-bar" id="dbcontent">
		<div class="container-fluid" >

			
		</div>
	</div>

</div>


<script>

    var currentDbData;
	
	function refreshDbData() {
		generateTables();
	}

	function refreshTableHtml() {
        $('#dbcontent').empty();
		$('#dbcontent').html(data);
	}

    function requestTableHtml(tablename) {	
		alert("send request");
        $.post("{% url 'dbdata' %}",
	    {'projname': "{{page.name}}", 'tablename': tablename},
            function (data) {
				alert(data.html);
				$('#dbcontent').empty();
				$('#dbcontent').html(data.html);
            }
		);
	}
	
	function requestTableNames() {
		$.post("{% url 'tablenames' %}",
			{'projname': "{{page.name}}"},
			function (data) {
				currentDbData = data;
				refreshDbData();
			}
		);
	}

    function generateTables() {
        $('#dbcontent').empty();
        var t = $('<div>').addClass("row dir-bar my-border-users no-margin")
			.append($("<div>").attr({"id": "1"}).addClass("row dir-bar top no-margin")
				.append($("<span>").addClass("enum-top").text("#"))
				.append($("<span>").addClass("name-top").text("Name"))
				.append($("<span>").addClass("columns-top").text("Columns"))
				.append($("<span>").addClass("enum-top").text("Rows"))
			)
			.append($("<div>").addClass("col-lg-4"))
		;
        $.each(currentDbData, function (index, tab) {
			t.append($("<div>").addClass("row dir-bar my-border-users no-margin")
				.append($("<div>").addClass("row dir-bar no-margin")
					.append($("<span>").addClass("enum").text("#"+index))
					.append($("<span>").addClass("name").text(tab.name))
					.append($("<span>").addClass("columns").text(tab.columncount))
					.append($("<span>").addClass("rows").text(tab.rowcount))
					.append($("<button>").addClass("btn btn-align rename-align btn-secondary btn-text btn-table-edit-main")
						.append($("<i>").addClass("fas fa-edit"))
					)
					.append($("<button>").addClass("btn btn-align btn-warning btn-text btn-table btn-table-del-main")
						.append($("<i>").addClass("fas fa-minus-circle"))
					)
					.click({name: tab.name}, function(e){
						e.stopPropagation()
						requestTableHtml(e.data.name)
					})
				)
				.append($("<div>").addClass("col-lg-4"))
			);
        });
        $('#dbcontent').append(t)
	}

    function generateTableContent(tablename) {
        $('#dbcontent').empty();
        var t = $('table');
        var h = t.append($('<tr>'));
        console.debug(currentData);
        console.debug(tablename);
        console.debug(currentData.tables[tablename]);
        $.each(currentData.tables[tablename].columns, function (colname, col_dtype) {
            h.append($('<td>').text(colname));
            // use col_dtype
        });
        $.each(currentData.tables[tablename].data, function (col, val) {
            var dr = $('<tr>');
            $.each(currentData.tables[tablename].columns, function (colname, col_dtype) {
                dr.append($('td').text(val[colname]));
            });
            t.append(dr);
        });

    }


    $(document).ready(function () {
        requestTableNames();
	});
	
</script>
