<div class="inner-body">
	<h1 class="center">Database</h1>

	<div class="container lead center">
		<p>
			Click on your table or create a new one. After selecting a table you can edit the rows and columns.
		</p>
	</div>

	<div class="space"></div>

	<div class="my-container dir-bar" id="dbcontent"></div>

</div>


<script>

	var currentTableName;
	var currentDbData;
	
	/**
	 * @brief Zobrazuje obsah databaze.
	 */
	function refreshDbData() {
		generateTables();
	}

	/**
	 * @brief Zobrazi obsah jedne tabulky. Obdrzena jako hotove HTML.
	 */
	function refreshTableHtml() {
        $('#dbcontent').empty();
		$('#dbcontent').removeClass('my-container').addClass('my-container-email');
		$('#dbcontent').html(currentDbData);
		$('#dbcontent').first().insertBefore($("<div>").addClass("row")
			.append($("<div>").addClass("col-lg-12 text-center")
				.append($("<h3>").text("Table "+currentTableName+" content"))
			)
		);
		$("<span>").addClass("appenditem").insertBefore('.create');
	}

	/**
	 * @brief Zada o data jedne tabulky.
	 * @param tablename 		Nazev dane tabulky.
	 */
    function requestTableHtml(tablename) {
		currentTableName = tablename;
        $.post("{% url 'dbdata' %}",
	    {'projname': "{{page.name}}", 'tablename': tablename},
            function (data) {
				currentDbData = data.html;
				refreshTableHtml();
            }
		);
	}
	
	/**
	 * @brief Zada o data databaze.
	 */
	function requestTableNames() {
		$.post("{% url 'tablenames' %}",
			{'projname': "{{page.name}}"},
			function (data) {
				currentDbData = data;
				refreshDbData();
			}
		);
	}

	/**
	 * @brief Zaklada tabulku.
	 * @param tablename  		Nazev nove tabulky.
	 * @param colcnt 			Pocet sloupcu.
	 */
	function sendCreateTable(tablename, colcnt) {
		// vytvareni Ondrovy struktury
		var cols = [["id", "s"] ];
		for(var it = 1; it <= colcnt; it++) {
			cols.push( ["col"+it, "s"] );
		}
		//alert("project {{page.name}}: create table "+tablename+" with columns "+JSON.stringify(cols));
		$.post("{% url 'createtable' %}",
			{'projname': "{{page.name}}", 'tablename': tablename, 'definition': JSON.stringify(cols)},
			function (data) {
				currentDbData = data;
				refreshDbData();
			}
		);
	}

	/**
	 * @brief Maze tabulku.
	 * @param tablename 		Nazev tabulky.
	 */
	function sendDeleteTable(tablename) {
		//alert("project {{page.name}}: delete table "+tablename);
		$.post("{% url 'deletetable' %}",
			{'projname': "{{page.name}}", 'tablename': tablename},
			function (data) {
				currentDbData = data;
				refreshDbData();
			}
		);
		
	}

	/**
	 * @brief Pridava radek do tabulky.
	 * @param rowid 		ID radku.
	 * @param rowdata 		Data radku.
	 */
	function sendAddRow(rowdata) {
		var rowdataS = JSON.stringify(rowdata);
		//alert("project {{page.name}}: tablename "+currentTableName+": set row "+rowid+" as "+rowdataS);
		$.post("{% url 'addrow' %}",
			{'projname': "{{page.name}}", 'tablename': currentTableName,
			'rowdata': rowdataS},
			function (data) {
				currentDbData = data.html;
				refreshTableHtml();
			}
		);
	}

	/**
	 * @brief Upravuje radek v tabulce.
	 * @param rowid 		ID radku.
	 * @param rowdata 		Data radku.
	 */
	 function sendEditRow(rowid, rowdata) {
		var rowdataS = JSON.stringify(rowdata);
		//alert("project {{page.name}}: tablename "+currentTableName+": set row "+rowid+" as "+rowdataS);
		$.post("{% url 'editrow' %}",
			{'projname': "{{page.name}}", 'tablename': currentTableName,
			'rowid': rowid, 'rowdata': rowdataS},
			function (data) {
				currentDbData = data.html;
				refreshTableHtml();
			}
		);
	}

	/**
	 * @brief Maze radek z tabulky.
	 * @param rowid 		ID radku.
	 */
	function sendDeleteRow(rowid) {
		//alert("project {{page.name}}: tablename "+currentTableName+": delete row "+rowid);
		$.post("{% url 'deleterow' %}",
			{'projname': "{{page.name}}", 'tablename': currentTableName, 'rowid': rowid},
			function(data) {
				currentDbData = data.html;
				refreshTableHtml();
			}
		);
	}

	function sendEditColumnName(oldname, newname) {
		$.post("{% url 'modifycolumn' %}",
			{'projname': "{{page.name}}", 'tablename': currentTableName,
			'column': oldname, 'newcolumnname': newname},
			function(data) {
				currentDbData = data.html;
				refreshTableHtml();
			}
		);
	}

	/**
	 * @brief Generate database content.
	 */
    function generateTables() {
		$('#dbcontent').empty();
		// nastavit Honzikovy zbesile tridy
		$('#dbcontent').removeClass('my-container-email').addClass('my-container');
		$('#dbcontent').append($("<div>").addClass("row")
			.append($("<div>").addClass("col-lg-12 text-center")
				.append($("<h3>").text("Your tables"))
			)
		);
		// zahlavi tabulky
        var t = $('<div>').addClass("row dir-bar my-border-users no-margin")
			.append($("<div>").attr({"id": "1"}).addClass("row dir-bar top no-margin")
				.append($("<span>").addClass("enum-top").text("#"))
				.append($("<span>").addClass("name-top").text("Name"))
				.append($("<span>").addClass("columns-top").text("Columns"))
				.append($("<span>").addClass("rows-top").text("Rows"))
			)
		;
		// data tabulky
        $.each(currentDbData, function (index, tab) {
			t.append($("<div>").addClass("row dir-bar my-border-users no-margin")
				.append($("<div>").addClass("row dir-bar no-margin")
					.append($("<span>").addClass("enum").text("#"+(index+1)))
					.append($("<span>").addClass("name").text(tab.name))
					.append($("<span>").addClass("columns").text(tab.columncount-1))
					.append($("<span>").addClass("rows").text(tab.rowcount))
					// editovat tabulku
					.append($("<button>").addClass("btn btn-align rename-align btn-secondary btn-text btn-table-edit-main")
						.append($("<i>").addClass("fas fa-edit"))
						//.prop("disabled", true)
						.click(tab, function(e) {
							e.stopPropagation();
							alert("Edit table not implemented");
						})
					)
					// smazat tabulku
					.append($("<button>").addClass("btn btn-align btn-warning btn-text btn-table btn-table-del-main")
						.append($("<i>").addClass("fas fa-minus-circle"))
						.click(tab.name, function(e){
							e.stopPropagation();
							sendDeleteTable(e.data);
						})
					)
					// otevrit obsah tabulky
					.click({name: tab.name}, function(e){
						e.stopPropagation()
						requestTableHtml(e.data.name)
					})
				)
			);
		});

		// pridavani zaznamu
		t.append($("<div>").addClass("create")
			.attr("id", "dbadder")
			// tlacitko na pridani zaznamu
			.append($("<button>").addClass("btn btn-primary btn-align btn-text")
				.append($("<i>").addClass("fas fa-plus-circle"))
				.html("&nbsp;add")
				.click(newDbLine)
			)
		);

		$('#dbcontent').append(t);
	}

	/**
	 * @brief Prida radek se vstupy do tabulky s obsahem databaze.
	 */
	function newDbLine() {
		$("#dbadder").empty();

		// odesilaci tlacitko
		var inputSend = $("<button>");
		// vstup pro jmeno
		var nameinput = $("<input>").addClass("form-control")
			.attr({"type":"text", "placeholder":"Table name"})
			.on("keydown", function(e){
				if(e.which == 13) {
					e.stopPropagation();
					inputSend.trigger("mousedown");
					return;
				} else if(e.which == 27) {
					e.stopPropagation();
					requestTableNames();
				}
			})
		;
		// vstup pro pocet sloupcu
		var columninput = $("<input>").addClass("form-control")
			.attr({"type":"text", "placeholder":"Column count"})
			.on("keydown", function(e){
				if(e.which == 13) {
					e.stopPropagation();
					inputSend.trigger("mousedown");
					return;
				} else if(e.which == 27) {
					e.stopPropagation();
					requestTableNames();
				}
			})
		;

		var sendClicked = 0;

		// reakce na odkliknuti z textoveho pole  
		columninput.focusout(function(e) {
			setTimeout(function() {
				if(sendClicked > 0) {
					sendClicked--;
					return;
				}
				if( !nameinput.is(":focus") ) {
					$('div.create').prev().remove();
					$("#dbadder").append($("<button>").addClass("btn btn-primary btn-align btn-text")
						.append($("<i>").addClass("fas fa-plus-circle"))
						.html("&nbsp;add")
						.click(newDbLine)
					);
				}
			}, 10);
		});
		// reakce na odkliknuti z textoveho pole  
		nameinput.focusout(function(e) {
			setTimeout(function() {
				if(sendClicked > 0) {
					sendClicked--;
					return;
				}
				if( !columninput.is(":focus") ) {
					$('div.create').prev().remove();
					$("#dbadder").append($("<button>").addClass("btn btn-primary btn-align btn-text")
						.append($("<i>").addClass("fas fa-plus-circle"))
						.html("&nbsp;add")
						.click(newDbLine)
					);
				}
			}, 10);
		});

		// vlastnosti odesilaciho tlacitka
		inputSend.addClass("btn btn-align btn-success btn-text btn-add-table")
			.text("Add table")
			.on("mousedown", function(e) {
				sendClicked = 2;
				e.stopPropagation();
				if(nameinput.val() == "" || parseInt(columninput.val()) == NaN) {
					alert("Invalid input!");
					return;
				}
				if(parseInt(columninput.val()) > 6) {
					alert("Table can have maximum 6 columns.");
					return;
				}
				
				sendCreateTable(nameinput.val(), columninput.val());
			})
		;
		
		// definice radku se vstupy
		$("<div>").addClass("row dir-bar my-border-users no-margin")
			.append($("<div>").addClass("row dir-bar no-margin")
				.append($("<span>").addClass("enum pointer")
					.text("#"+(parseInt(currentDbData.length)+1))
				)
				.append($("<div>").addClass("col lead my-align pointer table-name")
					.append(nameinput)
				)
				.append($("<div>").addClass("col lead my-align pointer column-count")
					.append(columninput)
				)
				.append($("<div>").addClass("col lead my-align pointer row-count"))

				.append(inputSend)
			)
		.insertBefore($("#dbadder"));
		
		// nastaveni zaostreni (focus)
		nameinput.focus().select();
	}



	/**
	 * @brief Vygeneruje textovy input
	 * @param val 		Hodnota inputu.
	 * @returns jQuery object.
	 */
	function generateInput(val) {
		return $("<input>").addClass("form-control input-margin")
			.attr({"type": "text", "value": val})
		;
	}
	
	/**
	 * @brief Pridani radku se vstupy po kliknuti na tlacitko "pridat novy radek".
	 * @param rowid 		ID daneho radku.
	 */
	function editRow(rowid) {
		var oldvals = [];
		$("#tablerow_"+rowid).children().last().prev().prop("disabled",true);
		// iterovani po sloupcich daneho radku
		$("#tablerow_"+rowid+" >span.rowitem_martin").each(function(it, item){
			oldvals.push(item.innerText);
			$(item).empty();
			
			// vytvori vstupni formular
			var inp = generateInput(oldvals[it])
				.on("keydown", function(e){
					if(e.which == 13) {
						e.stopPropagation();
						var arr = [rowid];
						$("#tablerow_"+rowid+" >span.rowitem_martin").each(function(i, itm){
							var itemname = $("#1").children().eq(i+1).text();
							var itemval = itm.firstElementChild.value;
							arr.push(itemval);
						});
						sendEditRow(rowid, arr);
					} else if(e.which == 27) {
						requestTableHtml(currentTableName);
					}
					$("#tablerow_"+rowid).children().last().prev().prop("disabled",false);
				})
			;
			$(item).append(inp);
			
			// udalost pri odebrani zaostreni z formulare
			inp.focusout(function(e) {
				setTimeout(function() {
					if($("#tablerow_"+rowid).find(":focus").length == 0) {
						// pro kazdy sloupec odesli ajaxem zmenu
						var arr = [rowid];
						$("#1 > span.column_top").each(function(p,itemname){
							arr.push(inp.this.val());
						});
						sendEditRow(rowid, arr);
						// nahrad kazdy sloupec puvodni hodnotou
						$("#tablerow_"+rowid+" >span.rowitem_martin").each(function(i,itm){
							$(itm).empty();
							itm.innerText = oldvals[i];
						});
					}
				}, 10);
				$("#tablerow_"+rowid).children().last().prev().prop("disabled",false);
			})
		});
		$($($("#tablerow_"+rowid+" >span.rowitem_martin")[0]).children()[0]).focus().select();
	}

	/**
	 * @brief Generuje sloupec se vstupem pro tabulku.
	 * @param rowid 		ID radku.
	 * @param colwidth 		Sirka radku.
	 * @param itemname 		Jmeno sloupce.
	 * @param sendbutton 	Odesilaci tlacitko (pro udalosti).	
	 * @returns Jeden sloupec radku.
	 */
	function generateColumnInput(rowid, colwidth, itemname, sendbutton) {
		return $("<span>").addClass("column rowitem_martin")
			.width(colwidth+"%")
			.append(generateInput()
				.attr({"placeholder":itemname})
				//.width(toString(colwidth)+"%")
				// udalosti tlačítek
				.on("keydown", sendbutton, function(e){
					// enter
					if(e.which == 13) {
						e.stopPropagation();
						// delegace na odesílací tlačítko
						sendbutton.trigger("click");
					// escape
					} else if(e.which == 27) {
						e.stopPropagation();
						requestTableHtml(currentTableName);
					}
				})
			)
		;
	}

	/**
	 * @brief Pridava radek se vstupy do tabulky.
	 */
	function addNewRow() {
		// vypocet id - CHYBA! vzit z prvniho indexu
		var lastid = $("#table").find('.appenditem').prev().children().first().prop('id').substr(9);
		var rowid = parseInt(lastid) + 1;
		// vypocet hashe
		var lasthash = $("#table").find('.appenditem').prev().find('.enum-db').text();
		var currhash = parseInt(lasthash.substr(1))+1;
		if(lasthash == '') { currhash = 0; }
		// pocet sloupcu tabulky
		var colcount = parseInt($("#table").find('.column-top').length);
		// tvuj vysostny vzorec
		var colwidth = 95.0 / (colcount+1);

		// vnitrni radek
		var innerrow = $("<div>").addClass("row dir-bar no-margin center tableitem_martin")
			.attr({"id": "tablerow_"+rowid})
			.append($("<span>").addClass("enum-db").text("#"+currhash))
		;
		// odesilaci tlacitko
		var sendbutton = $("<button>").addClass("btn btn-align rename-align btn-success btn-text btn-table-send")
			.text("Send")
		;
		// generovani jednotlivych sloupcu
		var focused;
		for(var iter = 1; iter <= colcount; iter++) {
			var itemname = $("#1").children().eq(iter).text();
			var colinput = generateColumnInput(rowid, colwidth, itemname, sendbutton);
			focused = colinput;
			innerrow.append(colinput);
		}

		// udalost kliknuti na odesilaci tlacitko
		sendbutton.click(function(){
			var values = [-1];
			var fail = false;
			$("#tablerow_"+rowid+" >span.rowitem_martin").each(function(i, itm){
				var itemname = $("#1").children().eq(i+1).text();
				var itemval = itm.firstElementChild.value;
				if(itemval == "") {
					fail = true;
					$(itm.firstElementChild).addClass("");
				}
				values.push(itemval)
			});	
			if(!fail) { sendAddRow(values); }
			else { alert("Invalid form input."); }
		})
		
		// vlozeni radku do stranky
		$("<div>").addClass("row dir-bar my-border-db no-margin")
			.append(innerrow
				.append(sendbutton)
			)
			.insertBefore( $("#table").find('.appenditem') )
		;

		// odebrani tlacitka pro zalozeni radku 
		$("#table").find(".create").children().first().remove();

		// zaostreni na prvni vstup
		innerrow.children().eq(1).children().first().focus().select();
		//focused.focus().select();
	}

	function editColumnName(colname) {
		var oldcolname = colname;
		var colitem = $("#1").find(".martin_colclass_"+colname);
		colitem.empty();
		var inp = $("<input>").addClass("form-input");

		colitem.append(inp
			.attr({"type":"text", "value": oldcolname})
			.on("keydown", function(e){
				e.stopPropagation();
				if(e.which == 13) {
					if(this.value.length > 32) {
						alert("Column name length should have up to 32 characters.");
						requestTableHtml(currentTableName);
						return;
					}
					sendEditColumnName(oldcolname, this.value);
				} else if(e.which == 27) {
					requestTableHtml(currentTableName);
				}
			})
			.focusout(function(e){
				requestTableHtml(currentTableName);
			})
		);
		setTimeout(function(){ inp.select().focus(); }, 10);
	}


    $(document).ready(function () {
		// prvni zadost o data
        requestTableNames();
	});
	
</script>
