<div class="inner-body">
	<h1 class="center">DNS</h1>

	<div class="container lead center">
		<p>
			Check the list of all Domain Name Servers. Modify and delete them or add a new one.
		</p>
	</div>

	<div class="my-container dir-bar">
		<div class="container-fluid" id="dnslist"></div>
	</div>
 </div>

<script>
	var currentDnsData;

	function refreshDnsData() {
        generateDns();
    }

    function requestDnsData() {
        $.post("{% url 'dnsdata' %}",
            {'projname': "{{page.name}}"},
            function (data) {
                currentDnsData = data;
				refreshDnsData();
            }
        );
	}

	function sendAddDns(name) {
		$.post("{% url 'adddns' %}",
			{'projname': "{{page.name}}", 'dnsname':name},
			function(data) {
				currentDnsData = data;
				refreshDnsData();
			}
		);
	} 

	function sendEditDns(oldname, newname) {
		$.post("{% url 'renamedns' %}",
			{'projname': "{{page.name}}", 'olddnsname': oldname, 'newdnsname': newname},
			function(data) {
				currentDnsData = data;
				refreshDnsData();
			}
		);
	}

	function sendDeleteDns(name) {
		$.post("{% url 'deletedns' %}",
			{'projname': "{{page.name}}", 'dnsname':name},
			function(data) {
				currentDnsData = data;
				refreshDnsData();
			}
		);
	}

	function generateDns() {
		$("#dnslist").empty();
        $.each(currentDnsData, function (u) {
			var textfield = $("<div>");
			var inputdiver = $("<div>").addClass("row dir-bar my-border-users no-margin")
				.append($("<div>").addClass("row dir-bar no-margin")
					.append($("<span>").addClass("enum pointer")
						.text("#"+(u+1))
					)
					.append(textfield.addClass("col lead my-align pointer")
						.text(currentDnsData[u])
					)
					.append($("<div>").addClass("col text-right")
						.append($("<button>").addClass("btn btn-align rename-align btn-secondary btn-text")
							.append($("<i>").addClass("fas fa-edit"))
							.html("&nbsp;modify")
							.on("mousedown", function(event){
								var txt = textfield.text();
								textfield.empty();
								var inp = $("<input>").addClass("form-input");
								textfield.append(inp
									.attr({"type":"text", "value": currentDnsData[u]})
									.focusout(function(){
										textfield.empty();
										textfield.text(currentDnsData[u]);
									})
									.on("keydown", function(e) {
										e.stopPropagation();
										if(e.which == 13) {
											sendEditDns(txt, inp.val());
										} else if(e.which == 27) {
											requestDnsData();
										}
									})
								);
								setTimeout(function(){ inp.select().focus(); }, 10);
							})
						)
						.append($("<button>").addClass("btn btn-align btn-warning btn-text")
							.append($("<i>").addClass("fas fa-minus-circle"))
							.html("&nbsp;delete")
							.click(currentDnsData[u], function(event){ 
								event.stopPropagation();
								sendDeleteDns(event.data);
							})
						)
					)
				)
				.append($("<div>").addClass("col-lg-4"))
			;
			$("#dnslist").append(inputdiver);
			
		});
		
		$("#dnslist").append($("<div>").addClass("create")
			.attr("id", "dnsadder")
			.append($("<button>").addClass("btn btn-primary btn-align btn-text")
				.append($("<i>").addClass("fas fa-plus-circle"))
				.html("&nbsp;add")
				.click(newDnsLine)
			)
		);
	}

	function newDnsLine() {
		$("#dnsadder").empty();
		var selectSuffix = $("<select>").addClass("form-control")
			.attr({"id":"dnsSuffixSelect"})
		;

		var focused;
		var dnsinput = $("<input>").addClass("form-control")
			.attr({"type":"text", "value":"yourDns"})
			.on("keydown", function(e){
				if(e.which == 13) {
					e.stopPropagation();
					var domain = $("#dnsSuffixSelect option:selected").text();
					sendAddDns(this.value + domain);
					return;
				} else if(e.which == 27) {
					e.stopPropagation();
					requestDnsData();
				}
			})
			.on("mousedown", function(){ focused=true; })
			.focusout(function(e){
				e.stopPropagation();
				//sendAddDns(this.value);
				if(focused) { focused = false; return; }
				if(selectSuffix.is(":focus")) { return; }
				requestDnsData();
				return;
			})
		;
		var inputSend = $("<button>").addClass("btn btn-primary btn-align")
			.text("Add DNS")
			.on("mousedown", dnsinput, function(event){
				e.stopPropagation();
				var domain = $("#dnsSuffixSelect option:selected").text();
				sendAddDns(event.data.value + domain);
			})
		;

		selectSuffix.focusout(function(e){
			e.stopPropagation();
			//sendAddDns(this.value);
			if(focused) { focused = false; return; }
			requestDnsData();
			return;
		})
			.on("mousedown", function(){ focused=true; })
			.on("keydown", dnsinput, function(event){
				if(event.which == 13) {
					event.stopPropagation();
					var domain = $("#dnsSuffixSelect option:selected").text();
					sendAddDns(event.data.val() + domain);
					return;
				} else if(event.which == 27) {
					event.stopPropagation();
					requestDnsData();
				}
			})

		$("#dnsadder").append($("<div>").addClass("row dir-bar my-border-users")
			.append($("<div>").addClass("row dir-bar")
				.append($("<span>").addClass("enum pointer")
					.text("#"+currentDnsData.length)
				)
				.append($("<div>").addClass("col lead my-align pointer")
					.append(dnsinput)
				)
				.append($("<div>").addClass("form-group")
					.append(selectSuffix
						.append($("<option>").text(".cz"))
						.append($("<option>").text(".sk"))
						.append($("<option>").text(".com"))
					)
				)
				.append($("<button>").addClass("btn")
					.text("Add DNS")
					.on("mousedown", dnsinput, function() {
						var e = jQuery.Event("keydown");
						e.which = 13;
						dnsinput.trigger(e);
					})
				)
				.append($("<div>").addClass("col text-right"))
			)
			.append($("<div>").addClass("col-lg-4"))
		);
		dnsinput.focus().select();
	}

	$(document).ready(function () {
        requestDnsData();
    });

</script>
