<div class="inner-body">
	<h1 class="center">DNS</h1>

	<div class="container lead center">
		<p>
			Check the list of all Domain Name Servers. Modify and delete them or add a new one.
		</p>
	</div>

	<div id="pathbar"></div>

	<div class="my-container dir-bar">
		<div class="container-fluid" id="userlist">
			<div class="row dir-bar my-border-users ">

				<div class="row dir-bar">
					<span class="enum pointer">#1</span>
					<div class="col lead my-align pointer">
						mywebpagesiteuchoch.cz
					</div>
					<div class="col text-right">
						<button class="btn btn-align rename-align btn-secondary btn-text"><i class="fas fa-edit"></i>&nbsp;modify</button>
						<button class="btn btn-align btn-warning btn-text"><i class="fas fa-minus-circle"></i>&nbsp;delete</button>
					</div>
				</div>
				<div class="col-lg-4"></div>
			</div>

			<div class="row dir-bar my-border-users ">
				<div class="row dir-bar">
					<span class="enum pointer">#2</span>
					<div class="col lead my-align pointer">
						mywebpagesiteuchoch.com
					</div>
					<div class="col text-right">
						<button class="btn btn-align rename-align btn-secondary btn-text"><i class="fas fa-edit"></i>&nbsp;modify</button>
						<button class="btn btn-align btn-warning btn-text"><i class="fas fa-minus-circle"></i>&nbsp;delete</button>
					</div>
				</div>
				<div class="col-lg-4"></div>
			</div>

			<div class="row dir-bar my-border-users ">
				<div class="row dir-bar">
					<span class="enum pointer">#3</span>
					<div class="col lead my-align pointer">
						mywebpagesiteuchoch.net
					</div>
					<div class="col text-right">
						<button class="btn btn-align rename-align btn-secondary btn-text"><i class="fas fa-edit"></i>&nbsp;modify</button>
						<button class="btn btn-align btn-warning btn-text"><i class="fas fa-minus-circle"></i>&nbsp;delete</button>
					</div>
				</div>
				<div class="col-lg-4"></div>
			</div>

			<div class="row dir-bar my-border-users ">
				<div class="row dir-bar">
					<span class="enum pointer">#4</span>
					<div class="col lead my-align pointer">
						mywebpagesiteuchoch.martin
					</div>
					<div class="col text-right">
						<button class="btn btn-align rename-align btn-secondary btn-text"><i class="fas fa-edit"></i>&nbsp;modify</button>
						<button class="btn btn-align btn-warning btn-text"><i class="fas fa-minus-circle"></i>&nbsp;delete</button>
					</div>
				</div>
				<div class="col-lg-4"></div>
			</div>

			<div class="create">
				<button class="btn btn-primary btn-align btn-text"><i class="fas fa-plus-circle"></i>&nbsp;add</button>
			</div>
		</div>
	</div>
 </div>
