<div class="inner-body">
	<h1 class="center">Email</h1>

	<div class="container lead center">
		<p>
			Here you can manage emails connected with your website. Add a new or delete already used.
		</p>
	</div>

	<div id="pathbar"></div>

	<div class="my-container dir-bar">
		<div class="container-fluid" id="userlist">
			<div class="row dir-bar my-border-users no-margin">

				<div class="row dir-bar no-margin">
					<span class="enum pointer">#1</span>
					<div class="col lead my-align pointer">
						martin.bolshak@ojojoj.tx
					</div>
					<div class="col text-right">
						<button class="btn btn-align rename-align btn-secondary btn-text"><i class="fas fa-edit"></i>&nbsp;modify</button>
						<button class="btn btn-align btn-warning btn-text"><i class="fas fa-minus-circle"></i>&nbsp;delete</button>
					</div>
				</div>
				<div class="col-lg-4"></div>
			</div>

			<div class="row dir-bar my-border-users no-margin">
				<div class="row dir-bar no-margin">
					<span class="enum pointer">#2</span>
					<div class="col lead my-align pointer">
						martin.uremović@ojojoj.tx
					</div>
					<div class="col text-right">
						<button class="btn btn-align rename-align btn-secondary btn-text"><i class="fas fa-edit"></i>&nbsp;modify</button>
						<button class="btn btn-align btn-warning btn-text"><i class="fas fa-minus-circle"></i>&nbsp;delete</button>
					</div>
				</div>
				<div class="col-lg-4"></div>
			</div>

			<div class="row dir-bar my-border-users no-margin">
				<div class="row dir-bar no-margin">
					<span class="enum pointer">#3</span>
					<div class="col lead my-align pointer">
						martin.shapoval@ojojoj.tx
					</div>
					<div class="col text-right">
						<button class="btn btn-align rename-align btn-secondary btn-text"><i class="fas fa-edit"></i>&nbsp;modify</button>
						<button class="btn btn-align btn-warning btn-text"><i class="fas fa-minus-circle"></i>&nbsp;delete</button>
					</div>
				</div>
				<div class="col-lg-4"></div>
			</div>

			<div class="row dir-bar my-border-users no-margin">
				<div class="row dir-bar no-margin">
					<span class="enum pointer">#4</span>
					<div class="col lead my-align pointer">
						martin.chovanec@ojojoj.tx
					</div>
					<div class="col text-right">
						<button class="btn btn-align rename-align btn-secondary btn-text"><i class="fas fa-edit"></i>&nbsp;modify</button>
						<button class="btn btn-align btn-warning btn-text"><i class="fas fa-minus-circle"></i>&nbsp;delete</button>
					</div>
				</div>
				<div class="col-lg-4"></div>
			</div>

			<div class="create">
				<button class="btn btn-primary btn-align btn-text"><i class="fas fa-plus-circle"></i>&nbsp;add</button>
			</div>
		</div>
	</div>
 </div>