<div class="inner-body">

	<h1 class="center">FTP</h1>

	<div class="container lead center">
		<p>This is the right place, where you can manage your directories and files. Easily start by opening your root
			directory. You can create new folders, upload new files or rename them as quick as deleting them.</p>
	</div>

	<div id="pathbar" class="row"></div>
	<div class="my-container dir-bar">
        <div class="container-fluid" id="dircontent"></div>
	</div>
</div>


<script>
    var currentDirData;

    function refreshFileData() {
        $.each(currentDirData.content, function(k,v) {
            v['name'] = k.split('.').join("");
        });
        generatePathButtons(currentDirData.path);
        generateFileContent(currentDirData.content, undefined);
    }

    function errorResponse(rs, e) {

    }

    function requestFileData(datapath) {
        var path = JSON.stringify(datapath);
        //console.log(path)
        $.post("{% url 'dirdata' %}",
            {'projname': "{{page.name}}",'requestpath': path},
            function (data) {
                currentDirData = data;
                refreshFileData();
            }
        );
    }

    function sendRenameFile(datapath, origname, newname) {
        var path = JSON.stringify(datapath);
        $.post("{% url 'renamefile' %}",
                {'projname': "{{page.name}}",
                'requestpath': path, 'origname': origname, 'newname': newname},
                function(data) {
                    currentDirData = data;
                    refreshFileData();
                }
        );
    }

    function sendDeleteFile(datapath, name) {
        var path = JSON.stringify(datapath);
        $.post("{% url 'deletefile' %}",
                {'projname': "{{page.name}}",
                'requestpath': path, 'name': name},
                function(data) {
                    currentDirData = data;
                    refreshFileData();
                }

        );
    }

    function sendCreateFolder(datapath, name) {
        var path = JSON.stringify(datapath);
        $.post("{% url 'createdir' %}",
            {'projname': "{{page.name}}",
            'requestpath': path, 'name': name},
            function(data) {
                currentDirData = data;
                refreshFileData();
            }
        );
    }

    function sendCreateFile(datapath, name, size) {
        var path = JSON.stringify(datapath);
        $.post("{% url 'createfile' %}",
            {'projname': "{{page.name}}",
            'requestpath': path, 'name': name, 'size': size},
            function(data) {
                currentDirData = data;
                refreshFileData();
            }
        );
    }

    function generateButton(name, p) {
        var x = $('<div>')
            .append($('<a>', {id: name})
                .css({'color': 'blue'})
                .addClass('pathButton')
                .text(name)
                .click(p, function (event) {
                    requestFileData(event.data);
                })
                .hover(
                    function () {
                        $(this).css({'color': 'red'});
                    }, function () {
                        $(this).css({'color': 'blue'});
                    }
                )
            )
        ;
        return x;
    }

    function generatePathButtons(l) {
        $('#pathbar').empty();
        for (var i = 0; i < l.length; i++) {
            // append button
            var lslice = l.slice(0, i + 1);
            $('#pathbar').append($('<span style="font-size: 150%; margin: -.4rem .2rem 0 .2rem;">').text('/'));
            $('#pathbar').append(generateButton(l[i], lslice));
        }
    }

    function generateItem(key, val) {
        return $('<div>')
            .addClass('col')
            .append($('<span>')
                .text(key)
                .append($('<span>')
                    .text('delete')
                    .click({k: key, v: val}, function (event) {
                        alert('delete ' + event.data.v);
                    })
                )
            )
            .click({k: key, v: val}, function (event) {
                if (event.data.v['type'] == 'd') {
                    var lslice = currentDirData['path'].slice();
                    lslice.push(event.data.k);
                    requestFileData(lslice);
                } else {
                    showProperties(event.data.k, event.data.v);
                }
            })
            ;
    }

    function generateRowItem(key, val) {
        var iconclass;
        if(val['type'] == 'd') { iconclass = 'far fa-folder folder-align'; }
        else { iconclass = 'far fa-file file-align'; }

        return $('<div>').addClass('dir-bar my-border-users no-margin')
            .append($('<div>').addClass('row dir-bar no-margin')
                .append($('<div>').addClass('row dir-bar no-margin').attr("id", val['name'])
                    .click({k: key, v: val}, function (event) {
					    if (event.data.v['type'] == 'd') {
							var lslice = currentDirData['path'].slice();
							lslice.push(event.data.k);
							requestFileData(lslice);
						} else {
							showProperties(event.data.k, event.data.v);
						}
					})
					.append($('<i>').addClass(iconclass)
								.css("cursor", "pointer"))

                    // left column
					.append($('<div>').addClass('col lead my-align-dns showEditForm pointer ftp-top')
                        .text(key)
					)
					// right column
					.append($('<div>').addClass('col text-right')
						.append($('<button>').addClass('btn btn-align rename-align btn-secondary btn-text')
							.text('rename')
							.click({k: key, v: val}, function (event) {
                                event.stopPropagation();
                                var d = $("#"+val['name']+" >div.showEditForm");
                                d.empty();
                                var i = $("<input>").addClass("form-control")
                                    .attr({"type":"text", "value":event.data.k})
                                    .click(function(event){ event.stopPropagation(); })
                                    .on("keydown", function(e){
                                        if(e.which == 13) {
                                            e.stopPropagation();
                                            sendRenameFile(currentDirData['path'], key, this.value);
                                            return;
                                        } else if(e.which == 27) {
                                            e.stopPropagation();
                                            requestFileData(currentDirData['path']);
                                        }
                                    })
                                    .focusout(function(e){
                                        e.stopPropagation();
                                        requestFileData(currentDirData['path']);
                                        return;
                                    })
                                ;
                                d.append(i);
                                i.focus().select();
                            })
						)
						.append($('<button>').addClass('btn btn-align btn-warning btn-text')
							.text('delete')
							.click({k: key, v: val}, function (event) {
                                event.stopPropagation();
                                sendDeleteFile(currentDirData['path'], event.data.k);
							})
						)
					)
                )
            )
            // right vertical
            .append($('<div>').addClass('col-lg-4'));
    }

    function generateFileContent(content, mode) {
        $('#dircontent').empty();
        $.each(content, function (key, value) {
            if(value['type'] == 'd') {
                $('#dircontent').append(generateRowItem(key, value));
            }
            // tady bude rozhodovani podle mode (typ zobrazeni)
        });
        $.each(content, function (key, value) {
            if(value['type'] == 'f') {
                $('#dircontent').append(generateRowItem(key, value));
            }
            // tady bude rozhodovani podle mode (typ zobrazeni)
        });
        
        var i = $('<input>').addClass('form-control input-ftp')
            .attr({"type":"text"})
            .on("keydown", this, function(e){
				if(e.which == 13) {
                    alert("enter");
                    e.stopPropagation();
                    sendCreateFolder(currentDirData.path, $(this).val());
					return;
				} else if(e.which == 27) {
                    e.stopPropagation();
                    //$(this).val('');
                    $(this).blur();
				}
			})
        ;
        
        var filereader = $('<input>')
            .attr({'type':'file', 'name':'input-file', 'id':'input-file'})
						.css({"display":"none"})
            .bind('change', function() {
                var f = this.files[0];
                sendCreateFile(currentDirData.path, f.name, f.size);
            })
        ;

        $('#dircontent')
            .append($('<div>').addClass('create row')
                .append($('<div>').addClass('col text-left')

										.append($('<div>')
												.addClass('folder-line')
										.append($('<button>').addClass('btn btn-primary btn-align-ftp btn-text')
                                .attr({'id':'folderadder'})
                                .text('New Folder')
					            .click(i, function (event) {
                                    sendCreateFolder(currentDirData.path, i.val());
                                })
                            )
										.append(i)
										)

                    .append(filereader)
										.append($('<input>')
												.addClass('input-file-button btn btn-primary btn-align-ftp btn-text')
												.attr({"type":"button","onclick":"document.getElementById('input-file').click()", "value":"Browse..."})
										)
                )
                
			)
        ;

    }

    function showProperties(key, val) {
        $('#dircontent').empty();

        var t = $('<table>').addClass("table")
            .append($("<thead>").addClass("thead-light")
                .append($("<tr>")
                    .append($("<th>").addClass("col text-left").text(""))
                    .append($("<th>").addClass("col text-right2").text(""))
                )
            )
        ;
        var bd = $("<tbody>");
        t.append(bd);
        //
        $.each(val, function (k, v) {
            var value;
            if(k == 'name') { value = key; }
            else { value = v; }
            bd.append($('<tr>')
                .append($('<td>')
										.addClass("col text-left border-style-left")
                    .text(k)
                )
                .append($('<td>')
										.addClass("col text-right2")
                    .text(value)
                )
            );
        });

        $("#dircontent").append($("<h2>").addClass("text-center text-secondary")
            .text(key)
        );
        $('#dircontent').append($("<div>").addClass("row file-info no-margin")
            .append($("<div>").addClass("col-lg-3"))
            .append($("<div>").addClass("col-lg-6")
                .append(t)
            )
            .append($("<div>").addClass("col-lg-3"))
        );

        $('#dircontent').append($('<button>')
            .addClass('btn btn-primary btn-align-ftp btn-text margin-left')
            .text("Go back")
            .click({content: currentDirData.content, mode: undefined}, function (event) {
                generateFileContent(event.data.content, event.data.mode);
            })
        );

    }

    $(document).ready(function () {
        requestFileData(["home"]);
    });


</script>