<div class="inner-body">
	<h1 class="center">Settings</h1>

	<div class="container lead center">
		<p>
			You can delete your page here. Do not ever continue while drunk!
		</p>
	</div>

	<div id="pathbar"></div>

	<div class="form-group delete center">
		<form action="/deletepage/" method="post" onsubmit="return confirm('Are you sure?');">
			<input type="hidden" name="projname" value="{{ page.name }}"/>
			<button type="submit" class="btn btn-bg btn-danger btn-create btn-huge">
				<i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Delete Page
			</button>
		</form>
	</div>

</div>

<script>
	function deletePage(name) {
		$.post("{% url 'deletepage' %}",
			{'projname': '{{page.name}}'},
			function(){}
		);
	}
</script>