{% load static %}

<head>
	<link rel="stylesheet" href="{% static 'css/snippets/base.css' %}">
</head>

<div class="inner-body">
	<h1 class="center">Users</h1>

	<div class="container lead center">
		<p>
			Check the list of all users registered to your page.
			Manage their access, or add, modify or delete them.
		</p>
	</div>

	<div class="my-container dir-bar">
		<div id="userslist" class="container-fluid">

		</div>
	</div>
</div>


<script>
    var currentUsersData;

    function refreshUsersData() {
        generateUsers();
    }

    function requestUsersData() {
        $.post("{% url 'userdata' %}",
            {'projname': "{{page.name}}"},
            function (data) {
                currentUsersData = data;
				refreshUsersData();
            }
        );
	}
	
	function sendNewUser(username) {
		$.post("{% url 'adduser' %}",
			{'projname': "{{page.name}}", 'username':username},
			function(data) {
				currentUsersData = data;
				refreshUsersData();
			}
		);
	}

	function sendDeleteUser(username) {
		$.post("{% url 'deleteuser' %}",
			{'projname': "{{page.name}}", 'username': username},
			function(data) {
				currentUsersData = data;
				refreshUsersData();
			}
		);
	}

    function generateUser(user, id) {
        return $("<div>").addClass("row dir-bar my-border-users")
            .append($("<div>").addClass("row dir-bar")
                .append($("<span>").addClass("enum pointer")
					.text("#"+id)
				)
                .append($("<div>").addClass("col lead my-align pointer")
                    .text(user)
                )
                .append($("<div>").addClass("col text-right")
                    .append($("<button>").addClass("btn btn-align rename-align btn-secondary")
                        .text("Modify")
                    )
                    .append($("<button>").addClass("btn btn-align btn-warning")
						.text("Delete")
						.click(user, function(event) {
							sendDeleteUser(event.data);
						})
                    )
                )
			)
			.append($("<div>").addClass("col-lg-4"))
		;
    }

    function generateUsers() {
		$("#userslist").empty();
        $.each(currentUsersData, function (u) {
			$("#userslist").append( generateUser(currentUsersData[u], u) );
		});
		
		$("#userslist").append($("<div>").addClass("create")
			.attr("id", "useradder")
			.append($("<button>").addClass("btn btn-primary btn-align btn-text")
				.append($("<i>").addClass("fas fa-plus-circle"))
				.html("&nbsp;add")
				.click(newUserLine)
			)
		);

	}

	function newUserLine() {
		$("#useradder").empty();
		var userinput = $("<input>").addClass("form-control")
			.attr({"type":"text", "value":"new file"})
			.on("keydown", function(e){
				if(e.which == 13) {
					e.stopPropagation();
					sendNewUser(this.value);
					return;
				} else if(e.which == 27) {
					e.stopPropagation();
					requestUsersData();
				}
			})
			.focusout(function(e){
				e.stopPropagation();
				//sendNewUser(this.value);
				requestUsersData();
				return;
			})
		;
		var inputSend = $("<button>").addClass("btn btn-primary btn-align")
			.text("Add user")
			.click(userinput, function(event){
					alert(event.data.value)
					sendNewUser(event.data.value);
			})
		;

		$("#useradder").append($("<div>").addClass("row dir-bar my-border-users")
			.append($("<div>").addClass("row dir-bar")
				.append($("<span>").addClass("enum pointer")
					.text("#"+currentUsersData.length)
				)
				.append($("<div>").addClass("col lead my-align pointer")
					.append(userinput)
				)
				.append($("<button>").addClass("btn")
					.text("Add user")
					.click(userinput, function() {
						var e = jQuery.Event("keydown");
						e.which = 13;
						userinput.trigger(e);
					})
				)
				.append($("<div>").addClass("col text-right"))
			)
			.append($("<div>").addClass("col-lg-4"))
		);
		userinput.focus().select();
	}


    $(document).ready(function () {
        requestUsersData();
    });
</script>