<div class="inner-body">
    <h1>Users</h1>
    
    <div class="container lead center">
        <p>
            Check the list of all users registered to your page.
            Manage their access, or add, modify or delete them.
        </p>
    </div>
    
    <div class="my-container dir-bar">
        <div class="container-fluid" id="userlist"></div>
    </div>

</div>

<script>
    var currentData;
    function refreshUsersData() {
        generateUsers(currentData);
    }

    function requestUsersData() {
        $.post("{% url 'userdata' %}",
            {'projname': "{{page.name}}" },
            function (data) {
                currentData = data;
                refreshUsersData();
            }
        );
    }

    function generateUser(user) {
        return $("<div>").addClass("row dir-bar")
            .append($("<div>").addClass("my-border dir-bar")
                .append($("<div>").addClass("row dir-bar")
                    .append($("<div>").addClass("col lead my-align")
                        .text(user)
                    )
                    .append($("<div>").addClass("col text-right")
                        .append($("button").addClass("btn btn-align rename-align btn-secondary")
                            .text("Edit")
                        )
                        .append($("button").addClass("btn btn-align btn-warning")
                            .text("Delete")
                        )
                    )
                )
            );
    }

    function generateUsers() {
        $("#userlist").empty();
        $.each(currentData, function(u) {
            $("#userlist").append(generateUser(u));
        });
    }

    $(document).ready(function () {
        requestUsersData();
    });
</script>