{% load static %}

<head>
	<link rel="stylesheet" href="{% static 'css/snippets/base.css' %}">
</head>

<div class="inner-body">
	<h1 class="center">Users</h1>

	<div class="container lead center">
		<p>
			Check the list of all users registered to your page.
			Manage their access, or add, modify or delete them.
		</p>
	</div>

	<div class="space"></div>

	<div class="my-container dir-bar">
		<div id="userslist" class="container-fluid">

		</div>
	</div>
</div>


<script>
    var currentUsersData;

    function refreshUsersData() {
        generateUsers();
    }

    function requestUsersData() {
        $.post("{% url 'userdata' %}",
            {'projname': "{{page.name}}"},
            function (data) {
                currentUsersData = data;
				refreshUsersData();
            }
        );
	}
	
	function sendNewUser(username) {
		$.post("{% url 'adduser' %}",
			{'projname': "{{page.name}}", 'username':username},
			function(data) {
				currentUsersData = data;
				refreshUsersData();
			}
		);
	}

	function sendEditUser(oldname, newname) {
		$.post("{% url 'renameuser' %}",
			{'projname': "{{page.name}}", 'oldusername': oldname, 'newusername': newname},
			function(data) {
				currentUsersData = data;
				refreshUsersData();
			}
		);
	}

	function sendDeleteUser(username) {
		$.post("{% url 'deleteuser' %}",
			{'projname': "{{page.name}}", 'username': username},
			function(data) {
				currentUsersData = data;
				refreshUsersData();
			}
		);
	}

    function generateUser(user, id) {
		return $("<div>").addClass("row dir-bar my-border-users")
            .append($("<div>").addClass("row dir-bar")
                .append($("<span>").addClass("enum pointer")
					.text("#"+id)
				)
                .append($("<div>").addClass("col lead my-align pointer")
                    .text(user)
                )
                .append($("<div>").addClass("col text-right")
                    .append($("<button>").addClass("btn btn-align rename-align btn-secondary")
						.text("Modify")
						.on("mousedown", function(event){


						})
                    )
                    .append($("<button>").addClass("btn btn-align btn-warning")
						.text("Delete")
						.click(user, function(event) {
							sendDeleteUser(event.data);
						})
                    )
                )
			)
			.append($("<div>").addClass("col-lg-4"))
		;
    }

    function generateUsers() {
		$("#userslist").empty();
		$.each(currentUsersData, function (u) {
			var userbox = $("<div>").addClass("col lead my-align pointer")
				.text(currentUsersData[u])
			;
			var edituser = $("<input>").addClass("form-input")
				.focusout(function(e){
					e.stopPropagation();
					requestUsersData();
				})
			;
       
			var row = $("<div>").addClass("dir-bar my-border-users no-margin")
				.append($("<div>").addClass("row dir-bar no-margin")
					.append($("<span>").addClass("enum pointer")
						.text("#"+(u+1))
					)
					.append(userbox)
					.append($("<div>").addClass("col text-right")
						.append($("<button>").addClass("btn btn-align rename-align btn-secondary btn-text")
							.append($("<i>").addClass("fas fa-edit"))
							.html("&nbsp;modify")
							.on("mousedown", function(event){
								var txt = userbox.text();
								userbox.empty();
								userbox.append(edituser
									.attr({"type":"text", "value": txt})
									.on("keydown", function(e){
										e.stopPropagation();
										if(e.which == 13) {
											sendEditUser(txt, this.value);
										} else if(e.which == 27) {
											requestUsersData();
										}
									})
								);
								setTimeout(function(){ edituser.select().focus() }, 10);
							})
						)
						.append($("<button>").addClass("btn btn-align btn-warning btn-text")
							.append($("<i>").addClass("fas fa-minus-circle"))
							.html("&nbsp;delete")
							.click(currentUsersData[u], function(event) {
								sendDeleteUser(event.data);
							})
						)
					)
				)
				.append($("<div>").addClass("col-lg-4"))
			;
			$("#userslist").append(row);
		});
		
		$("#userslist").append($("<div>").addClass("create")
			.attr("id", "useradder")
			.append($("<button>").addClass("btn btn-primary btn-align btn-text")
				.append($("<i>").addClass("fas fa-plus-circle"))
				.html("&nbsp;add")
				.click(newUserLine)
			)
		);

	}

	function newUserLine() {
		$("#useradder").empty();
		var userinput = $("<input>").addClass("form-control")
			.attr({"type":"text", "value":"newuser"})
			.on("keydown", function(e){
				if(e.which == 13) {
					e.stopPropagation();
					sendNewUser(this.value);
					return;
				} else if(e.which == 27) {
					e.stopPropagation();
					requestUsersData();
				}
			})
			.focusout(function(e){
				e.stopPropagation();
				//sendNewUser(this.value);
				requestUsersData();
				return;
			})
		;
		var inputSend = $("<button>").addClass("btn btn-primary btn-align btn-add-dns")
			.text("Add user")
			.on("mousedown", userinput, function(event){
					sendNewUser(event.data.value);
			})
		;

		$("#useradder").append($("<div>").addClass("dir-bar my-border-users no-margin")
			.append($("<div>").addClass("row dir-bar no-margin")
				.append($("<span>").addClass("enum pointer")
					.text("#"+(parseInt(currentUsersData.length) + 1))
				)
				.append($("<div>").addClass("lead my-align pointer pad-top")
					.append(userinput)
				)
				.append($("<button>").addClass("btn btn-align btn-success btn-text btn-add-table btn-add-dns")
					.text("Add user")
					.on("mousedown", userinput, function() {
						var e = jQuery.Event("keydown");
						e.which = 13;
						userinput.trigger(e);
					})
				)
				.append($("<div>").addClass("col text-right"))
			)
			.append($("<div>").addClass("col-lg-4"))
		);
		userinput.focus().select();
	}


    $(document).ready(function () {
        requestUsersData();
    });
</script>