



.section-padding{
  padding: 5.5em 0;
}

.section-padding.no_top{
  padding-top: 0 !important;
}

.more{
    height: 50px;
    padding-bottom: 1em;
    width: 100%;
    margin-top: -1em;
    text-align: center;
}

.scrollTo{
    border: none;
    color: inherit;
    letter-spacing: 0.225em;
    outline: none;
    text-transform: uppercase;
}

.wrapper.section2{
    background-color: #505393;
    color: #d3d4e4;
    text-align: center;
    padding: 2em 0 2.6em 0;
    margin-top: 2em;
}

.inner{
    width: 70%;
    margin: 0 auto;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 0.075em;
    line-height: 1.65em;
}

.major{
    margin-bottom: 4em;
    display: block;
}

.features{

    padding-left: 0;
}

.features li:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.035);
}
.features li:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.07);
}
.features li:nth-child(3) {
    background-color: rgba(0, 0, 0, 0.105);
}
.features li:nth-child(4) {
    background-color: rgba(0, 0, 0, 0.140);
}
.features li:nth-child(5) {
    background-color: rgba(0, 0, 0, 0.175);
}
.features li:nth-child(6) {
    background-color: rgba(0, 0, 0, 0.210);
}


.features li{
    padding: 4em 4em 4em 4em;
    display: block;
    position: relative;
    text-align: left;
    width: 50%;
}

.wrapper.section2 h2{
    color: #ffffff;
    font-size: 3em;
    font-weight: bold;
}

.wrapper.section2 h3{
    color: #ffffff;
    font-weight: bold;
}

.go-up{
    margin-top: 2em;
}

.error-text{
    color: red;
}

.pathButton {
    color: #545ad4;
}
