{% extends "base.html" %}
{% block content %}
	{% load static %}

	<!-- TODO -->
	<!--
    If (!user.logged){
        redirect(homepage)
    } else {
  -->
	<!-- TODO -->


	<!-- NAVBAR -->
	<nav class="navbar navbar-expand navbar-dark bg-dark static-top" style="
	border-radius: 0;
	margin-bottom: 0;">

		<img src="{% static 'img/icon.png' %}" class="flamingo-icon">
		<a class="navbar-brand mr-1" href="/">GoFlamingo</a>

		<ul class="navbar-nav ml-auto mr-md-0">

			<!-- HELP -->
			<li class="nav-item help">
				<a class="nav-link" href="#" aria-haspopup="true" aria-expanded="false" data-toggle="modal"
					 data-target="#myModal">
					<i class="fas fa-envelope"></i>
					Help
				</a>
			</li>

			<!-- USER -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="userDropdown" rule="button" data-toggle="dropdown"
					 aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-user-circle fa-fw"></i>
					{{ user.first_name }}
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
					<a class="dropdown-item" href="#">Settings</a>
					<a class="dropdown-item" href="#">Activity Log</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{% url 'logout' %}" data-toggle="modal">Logout</a>
				</div>
			</li>
		</ul>
	</nav>

	<div class="dashboard">

		<!-- SIDE MENU -->
		<div class="col-lg-2 menu">

			<!-- MENU HEADER -->
			<div class="user">
				<h4 class="welcome">Your projects</h4>
			</div>

			<!-- PAGE LIST -->
			<div class="list">
				<ul class="list-dash">
					{% for page in page_list %}
						<a href="/pageboard/?id={{ page.id }}">
							<li>{{ page.name }}</li>
						</a>
					{% endfor %}
				</ul>
			</div>

			<!-- CREATE PAGE -->
			<div class="form-group row logout">
				<form method="post" action="/createpage/">{% csrf_token %}
					<input class="form-control" name="name" placeholder="Page name" autocomplete="off" required />
					<button type="submit" class="btn .btn-sm btn-success btn-create">Create Page</button>
				</form>
			</div>

		</div>

		<div class="col-lg-10">
		<div class="inner-body" id="scroller">
			<div class="inner-body">
				<h1 class="center">Projects dashboard</h1>
				<p class="lead site-subheading mb-4 site-animate text-center">Manage all your webpages</p>

				<form method="post" action="/createpage/">{% csrf_token %}
					<div class="create-page">
						<div class="col-lg-2"></div>
						<div class="col-lg-8">
							<div class="form-group row" style="margin-top: 50px">
								<div class="col-lg-10" style="margin-top: 7px">
									<input class="form-control" name="name"
										style="height: 40px" placeholder="Page name" autocomplete="off" />
								</div>
								<div class="col-lg-2">
									<button type="submit" class="btn .btn-sm btn-dark btn-create" style="height: 40px">Create Page</button>
								</div>	
							</div>
						</div>
						<div class="col-lg-2"></div>
					</div>
				</form>
				<div class="small-space"></div>
				{% if page_list %}
				<div class="row no-margin">
					<div class="col-lg-4"></div>
					<div class="col-lg-4">
						<table class="table table-scroll">
							<thead>
								<tr>
									<th class="text-center">Your webpages</th>
								</tr>	
							</thead>
									
							{% for page in page_list %}
							<tr>
								<td class="text-center">
									<a href="/pageboard/?id={{ page.id }}">
										<button class="btn btn-lg btn-light"
											style="width: 100%; height: 60px; border: 1px solid grey">
											{{ page.name }}
										</button>
									</a>
								</td>
							</tr>
							{% endfor %}
						</table>
					</div>
					<div class="col-lg-4"></div>
				</div>
				{% else %}
				<div class="row no-margin" style="margin-top: 70px">
					<div class="col-lg-12 text-center">
						<a href="{% url 'tutorial' %}">
							<button class="btn btn-lg btn-primary">Show tutorial</button>
						</a>
					</div>
				</div>		
				{% endif %}
			</div>

			<div class="row no-margin" id="tutorial">
				<div class="col-lg-12 text-center">
					<h1>Tutorial</h1>
				</div>
			</div>
			<div class="two-columns" style="margin-top: 70px">
				<div class="col-1"></div>
				<div class="col-5 center">
					<p class="lead justify">First time with us? Read our short help.</p>
					<ul class="my-list minus-left">
						<li class="lead no-indent minus-bottom"><i class="fas fa-plus-circle"></i>&nbsp;&nbsp;Creating a New Page</li>
						<p class="indent plus-bottom">To create a new page fill the form on the left panel and click on the button 'Create
							Page'. New website will appear in the left panel and you can choose it by a single click on its
							name.</p>
						<li class="lead no-indent minus-bottom"><i class="fas fa-user-circle fa-fw"></i>&nbsp;&nbsp;Account Manager</li>
						<p class="indent plus-bottom">On the right top you can see the user icon with your name. By clicking on it some
							multiple options will come out. You can change your settings there or log out.</p>
						<li class="lead no-indent minus-bottom"><i class="fas fa-envelope"></i>&nbsp;&nbsp;Contact Us</li>
						<p class="indent plus-bottom">Do you have any problem with using the system? Would you appreciate a little help with
							setting the things up? There is not an easier way to get some help then sending us an email through the
							'Help' icon placed just next to the user icon on the top bar. Fill the form with your Name and a correct
							email and send your message. We will answer you as soon as possible.</p>
					</ul>
				</div>
				<div class="col-5 center">
					<p class="lead justify">After selecting a created page. New options will come out. </p>
					<ul class="my-list minus-left">
						<li class="lead no-indent minus-bottom"><i class="fas fa-chart-line"></i>&nbsp;&nbsp;Dashboard</li>
						<p class="indent plus-bottom">In the first tab you can see your statistics.</p>
						<li class="lead no-indent minus-bottom"><i class="fas fa-file-alt"></i>&nbsp;&nbsp;FTP</li>
						<p class="indent plus-bottom">FTP or File Transfer Protocol allows you to control your repositories. You can browse
							you directories, view your files info or rename and delete them. You can create a new folder or a file
							too.</p>
						<li class="lead no-indent minus-bottom"><i class="fas fa-file-signature"></i>&nbsp;&nbsp;DNS</li>
						<p class="indent plus-bottom">Domain Name System is there to help you manage your web addresses. There you can find
							settings as what domains can your website use and more.</p>
						<li class="lead no-indent minus-bottom"><i class="fas fa-database"></i>&nbsp;&nbsp;Database</li>
						<p class="indent plus-bottom">The whole database on one place. Browse your tabs and look up for any record in your
							database. Creating, editing and deleting tabs and rows has never been easier.</p>
						<li class="lead no-indent minus-bottom"><i class="fas fa-at"></i>&nbsp;&nbsp;Email</li>
						<p class="indent plus-bottom">Check your emails with our system. You can read the incoming email and send a new
							ones.</p>
						<li class="lead no-indent minus-bottom"><i class="fas fa-users"></i>&nbsp;&nbsp;Users</li>
						<p class="indent plus-bottom">Watch all the registered users on your website. You can delete their accounts or change
							their credentials.</p>
					</ul>
				</div>


			</div>
			<form method="post" action="/createpage/">{% csrf_token %}
				<div class="create-page" >
					<div class="col-lg-2"></div>
					<div class="col-lg-8">
						<div class="form-group row">
							<div class="col-lg-10" style="margin-top: 7px">
								<input class="form-control" name="name"
									style="height: 40px" placeholder="Page name" autocomplete="off" required />
							</div>
							<div class="col-lg-2">
								<button type="submit" class="btn .btn-sm btn-dark btn-create" style="height: 40px">Create Page</button>
							</div>	
						</div>
					</div>
					<div class="col-lg-2"></div>
				</div>
			</form>
			<div class="big-space"></div>


			<!-- CONTACT FORM -->
			<div id="myModal" class="modal fade" role="dialog">
				<div class="modal-dialog" id="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="modal-title">Contact Us</h4>
							<button type="button" class="close" id="modal-close-button" data-dismiss="modal"><i
											class="far fa-window-close"></i></button>
						</div>
						<div class="modal-body">
							<form role="form" method="post" id="reused_form">
								<p> We will answer your message as soon as possible. </p>
								<div class="form-group">
									<label for="name"> Name:</label>
									<input type="text" class="form-control" id="name" name="name" required maxlength="50">
								</div>
								<div class="form-group">
									<label for="email"> Email:</label>
									<input type="email" class="form-control" id="email" name="email" required maxlength="50">
								</div>
								<div class="form-group">
									<label for="name"> Message:</label>
									<textarea class="form-control" type="textarea" name="message" id="message"
														placeholder="Your Message Here" maxlength="6000" rows="7"></textarea>
								</div>
								<button type="submit" class="btn btn-lg btn-success btn-block" id="btnContactUs">Send</button>
							</form>
							<div id="success_message" style="width:100%; height:100%; display:none; "><h3>Sent your message
								successfully!</h3></div>
							<div id="error_message" style="width:100%; height:100%; display:none; "><h3>Error</h3> Sorry there was an
								error sending your form.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		</div>
	</div>

{% endblock %}
