{% extends "base.html" %}
{% block content %}
	{% load static %}

	<!-- SECTION 1 -->
	<section id="one" class="section-padding">
		<div id="" class="container">

			<!-- WELCOME TEXT -->
			<div class="row intro-text align-items-center justify-content-center">
				<div class="col-md-10 text-center">
					<h1 class="site-heading site-animate">Welcome to <strong>GoFlamingo</strong></h1>
					<p class="lead site-subheading mb-4 site-animate">
						We offer webhosting services. Managing your websites
						has never been so easy.
					</p>
				</div>
			</div>

			<div class="row mb-5 align-items-center section-padding">

				<!-- FLAMINGO IMG -->
				<div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
					<a href="{% url '' %}">
						<img src="{% static 'img/flamingo.png' %}" alt="Image placeholder" class="img-fluid" width="75%">
					</a>		
				</div>

				<!-- RIGHT TEXT -->
				<div class="col-lg-5 pl-lg-5">
					<div class="section-heading">
						<h2>Try it out!</h2>
					</div>
					<p class="lead">Just a little step from your own webpages. You are almost there. 
					</p>
					<div class="row">
						{% if logged %}
						<div class="col-lg-2"></div>
						<div class="col-lg-8">
							<span class="text-center" style="text-align:center">
								Welcome back, {{ user.first_name }}!
							</span>
							<a href="{% url 'dashboard' %}" class="col-12 btn btn-primary px-4 py-2 btn-lg" style="margin-top:10px">Go to dashboard</a>
							<a href="{% url 'logout' %}" class="col-12 btn btn-info px-4 py-2 btn-lg" style="margin-top:10px">Logout</a>
							<div class="row">
								<div class="col-lg-12 text-center" style="margin-top:10px"><a href="{% url 'login' %}">Login as somebody else</a></div>
							</div>
						</div>
						<div class="col-lg-2"></div>
						{% else %}
						<div class="col-lg-6">
							<span class="text-center" style="text-align:center">New here?</span>
							<a href="register" class="col-12 btn btn-warning px-4 py-2 btn-sm">Register</a>
						</div>
						<div class="col-lg-6">
							<span class="text-center" style="text-align:center">Have an account?</span>
							<a href="login" class="col-12 btn btn-success px-4 py-2 btn-sm">Login</a>
						</div>
						{% endif %}
					</div>

				</div>
			</div>

			<!-- SCROLL DOWN -->
			<div class="more">
				<a href="#two" class="scrollTo">Learn More</a>
			</div>

		</div>
	</section>

	<!-- SECTION 2 -->
	<section id="two" class="wrapper section2 section-padding">
		<div class="inner">
			<header class="major">
				<h2>What does our service provide?</h2>
				<p>Here you can see the list of the services we offer to you. All is for free and ready to use.</p>
			</header>
			<ul class="features">
				<li>
					<h3>Create Websites</h3>
					<p>In your account you can easily create just as many websites as you want. Changing between them can be
						easily done in the menu.</p>
				</li>
				<li>
					<h3>Set Domain Name Server</h3>
					<p>You can set your own DNS in the settings of each of your websites. You can do so in the tab 'DNS'.</p>
				</li>
				<li>
					<h3>Manage File Transfer Protocol</h3>
					<p>With all the options you can set the File Transfer Protocol the way you like it to be used.</p>
				</li>
				<li>
					<h3>Database Edit</h3>
					<p>You wouldn't really be able to manage your own website without an access to the database. With our service
						you can do it all.</p>
				</li>
				<li>
					<h3>Aenean Primis</h3>
					<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula
						consequat consequat.</p>
				</li>
				<li>
					<h3>Tortor Ut</h3>
					<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula
						consequat consequat.</p>
				</li>
			</ul>
			<div class="more go-up">
				<a href="#one" class="scrollTo">Go Up</a>
			</div>
		</div>
	</section>

{% endblock %}>
