{% extends "base.html" %}
{% block content %}

{% load static %}


<div class="dashboard">

    <!-- SIDE MENU -->
    <div class="col-2 menu">
        <!-- MENU HEADER -->
        <div class="user">
            <h5 class="welcome">Welcome</h5>
            <h1 class="username">{{ u.first_name }}</h1>
        </div>
        <!-- PAGE LIST -->
        <div class="list">
            <ul class="list-dash">
                {% for page in page_list %}
                    <a href="webpage?id={{page.id}}"><li>{{page.name}}</li></a>
                {% endfor %}
            </ul>
        </div>
        <!-- LOGOUT BUTTON -->
        <div class="form-group row logout">
            <a href="{% url 'logout' %}"><button class="btn btn-danger btn-lg col-12">Logout</button></a>
        </div>
    </div>

    <div class="col-10">
        <div class="inline col-12">
            <div class="col-1"></div>
            <div class="col-10 grid">
                <div class="page-menu">
                    <ul class="list-menu">
                        <a href="#1"><li class="col-2 center"><p>Option1</p></li></a>
                        <a href="#2"><li class="col-2 center">Option2</li></a>
                        <a href="#3"><li class="col-2 center">Option3</li></a>
                        <a href="#4"><li class="col-2 center">Option4</li></a>
                        <a href="#5"><li class="col-2 center">Option5</li></a>
                        <a href="#6"><li class="col-2 center">Option6</li></a>
                    </ul>
                </div>
            </div>
        </div>
        <h1>{{page.name}}</h1>
        <div class="martin">
            <!--<img src="{% static 'img/martin.jpg' %}" width="600px">
            <img src="{% static 'img/martin2.jpg' %}" width="600px">-->

        </div>
    </div>

</div>




{% endblock %}



<!--
{% if message %}
    <h1>{{ message }}</h1>
    <a href="{% url '' %}"><button>Main page</button></a>
{% else %}
    <h1>Logged user:</h1>
    Name: {{ first_name }} {{ last_name }} <br>
    Email: {{ email }} <br>
    <a href="{% url 'logout' %}"><button>Log out</button></a>
{% endif %}
