{% extends "base.html" %}
{% block content %}
{% load static %}

							<!-- TODO -->
<!--
	If (!user.logged){
			redirect(homepage)
	} else {
-->
							<!-- TODO -->



<!-- NAVBAR -->
<nav class="navbar navbar-expand navbar-dark bg-dark static-top" style="
	border-radius: 0;
	margin-bottom: 0;">

	<img src="{% static 'img/icon.png' %}/" class="flamingo-icon">
	<a class="navbar-brand mr-1" href="/">GoFlamingo</a>

	<ul class="navbar-nav ml-auto mr-md-0">

		<!-- HELP -->
		<li class="nav-item help">
			<a class="nav-link" href="#" rule="button" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-envelope"></i>
				Help
			</a>
		</li>

		<!-- USER -->
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="userDropdown" rule="button" data-toggle="dropdown"
				 aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-user-circle fa-fw"></i>
				Jan Bartošek
			</a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
				<a class="dropdown-item" href="#">Settings</a>
				<a class="dropdown-item" href="#">Activity Log</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{% url 'logout' %}" data-toggle="modal">Logout</a>
			</div>
		</li>
	</ul>
</nav>


<div class="dashboard">

	<div class="col-2 menu">

		<!-- SIDE MENU -->
		<div class="back-to-dash">
			<a href="{% url 'dashboard' %}" class="back-arrow "><i class="fas fa-long-arrow-alt-left"></i></a>
		</div>
		<div class="padding-left-extra">

			<!-- MENU HEADER -->
			<div class="user">
				<h5 class="welcome">#JménoVybranéStránky</h5>
			</div>

			<!-- PAGE LIST -->
			<div class="list">
				<ul class="list-dash">
						<a data-toggle="tab" href="#Dashboard"><li class="active">Dashboard</li></a>
						<a data-toggle="tab" href="#Ftp"><li>FTP</li></a>
						<a data-toggle="tab" href="#Dns"><li>DNS</li></a>
						<a data-toggle="tab" href="#Database"><li>Database</li></a>
						<a data-toggle="tab" href="#Email"><li>Email</li></a>
						<a data-toggle="tab" href="#Users"><li>Users</li></a>
				</ul>

				<!-- DELETE BUTTON -->
				<div class="form-group delete">
					<button type="submit" class="btn .btn-sm btn-danger btn-create">Delete Page</button>
				</div>
			</div>
		</div>
	</div>

	<div class="col-10 tab-content">
		<div id="Dashboard" class="tab-pane fade in active">
			{% include 'snippets/dbbrowser.html' %}
		</div>

		<div id="Ftp" class="tab-pane fade">
			<h1>FTP</h1>
			{% include 'snippets/filebrowser.html' %}
		</div>

		<div id="Dns" class="tab-pane fade">
			<h1>DNS</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
			</p>
		</div>

		<div id="Database" class="tab-pane fade">
			<h1>Database</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
			</p>
		</div>

		<div id="Email" class="tab-pane fade">
			<h1>Email</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
			</p>
		</div>

		<div id="Users" class="tab-pane fade">
			<h1>Users</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
			</p>
		</div>
	</div>


</div>

{% endblock %}